*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* POLICES */

.inria-sans-regular {
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.inria-sans-bold {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
}


.inria-sans-regular-italic {
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-condensed-bold {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 700;
    font-style: normal;
}

.fira-sans-condensed-black {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-condensed-regular-italic {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-condensed-bold-italic {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 700;
    font-style: italic;
}

/*FIN POLICES */

body{
    font-family: "Fira Sans Condensed", serif;
}
.banner{
    background-image: url(./img/fond.png);
    background-position: cover;  
    height: 50rem;
}
.reseaux img{
    width:150%;   
}


/*NAVBAR */

.topnav {
    overflow: hidden;
    /* position: fixed;
    top:0; */
    padding: 2rem; 

  }
  
  .topnav a {
    float: left;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnav a:hover {
    background-color: rgba(221, 221, 221, 0.514);
    color: black;
    border-radius: 15px;
  }
    
  .topnav .icon {
    display: none;
  }

 
  /* FIN NAVBAR */

/* TITRES */
.fonttitres{
    font-family: "Inria Sans", serif;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    
}

.titresection{
    padding-bottom: 1rem;
    font-size: 36px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.188);
}

.titreheader{
    color: aliceblue;
    margin-bottom: 5rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.45);

}
.titreheader h1{
    font-size: 64px;
}

.titreheader h2{
    font-size: 48px;
}

.titreskills{
    background-image: url(./img/fond2.png);
    height: 5rem;    
    margin-bottom: 4rem;
}


/*FIN TITRES */

.container{
    margin-top: 10rem;
}

.quisuisje{
    padding: 5rem 10rem ;
    text-align: center;
    line-height:2.3em;
    font-size: 24px;
}



.citation{
    margin-top: 4rem;
    font-style: italic;
    font-size: 20px;
}

.citation span{
    display: block;
    font-weight: 700;
}

.photo{
    width: 30%;
}

.bouton{
    background-color:#1C8986 ;
    width: 15rem;
    color: aliceblue;
    padding: 1rem;
    border-radius: 15px;
    font-size: 26px;
    text-align: center;
    margin: auto;
    box-shadow: -1px 2px 22px 8px rgba(0, 0, 0, 0.27);
}

.bouton:hover{
    transform: scale(1.1);
}



.hardskills{
    width: 50%;
    text-align: center;
}
.hardskills img{
    width: 30%;
    padding: 1rem 1rem;
}

.presentation{
    width: 50%;
    padding: 3rem 5rem;
    font-size: 24px;
    text-align: justify;
}

.presentation span{
    font-weight: bold;
}

/* FLIP CARDS */

.flip-card {   
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-top: 5rem;
   
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: -1px 2px 22px 8px rgba(0, 0, 0, 0.349);
}

.flip-card-front img{
    width:300px;
    height:300px;
    border-radius:15px;
}

.flip-card-back {
    background-color: #1C8986;
    transform: rotateY(180deg);
    padding: 1.5rem;
}

.flip-card-back a{
    color: aliceblue;
    text-decoration: none;
}

/* FIN FILP CARDS */

.projets{
    background-image: url(./img/fond.png);
    background-position: bottom;
    margin-top: 3rem;
    height: 45rem;
}

.footer{
    height: 10rem;
    padding-right: 15%;
}

.footer img{
    margin: 3rem 3rem 2rem 0;
}

.imghover:hover{
    transform: scale(1.1);
}


